/* Здесь подключаем шрифты, используя правило @font-face*/

/* Использумые шрифты на index.html
Muli Regular - normal normal 
Muli Bold - 700 normal
Muli ExtraBold - 800 normal
Muli ExtraBoldItalic - 800 italic
Poppins Medium - 500 normal
Poppins SemiBold - 600 normal
  */
@font-face {
    font-family: Muli-Regular; 
    src: url(../assets/fonts/Muli-Regular.woff); 
}

@font-face {
    font-family: Muli-Bold;
    src: url(../assets/fonts/Muli-Bold.woff);
}

@font-face {
    font-family: Muli-ExtraBold;
    src: url(../assets/fonts/Muli-ExtraBold.woff);
}

@font-face {
    font-family: Muli-ExtraBoldItalic;
    src: url(../assets/fonts/Muli-ExtraBoldItalic.woff);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Muli-Italic;
    src: url(../assets/fonts/Muliitalic.woff);
}

@font-face {
    font-family: Muli-SemiBoldItalic;
    src: url(../assets/fonts/Mulisemibolditalic.woff);
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    margin: 0;
    list-style: none;
}

/* Общие стили */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Оформляем стили текстов */
.btn, h2, .title, h3 {
    font-family: "Muli-ExtraBold"; 
    color: #f7ae3b;
    font-size: 50px;
}

.title-small {
    font-family: Muli-Bold;
    font-size: 16px; 
    color: white; 

}

.text-dark {
    font-family: Muli-regular;
    font-size: 18px;
    color: #1e1e1e; 
}

.text-white {
    font-family: Muli-regular;
    font-size: 18px; 
    color: #ffffff; 
}

.btn {
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    font-size: 21px;
    color: white;
    padding: 0px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 205px;
    height: 60px;
    background-color: transparent;
    border: 2px solid white;
}


.menu__list, .personal__list, .social__list {
    list-style: none;
}

/* Header */
.header {
    height: 100vh;
    background: url(/assets/images/header-bg-img.png) no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.header__top {
    padding: 70px 100px 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*header menu */

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 35px;
}

.menu__item:last-child {
    margin-right: 0px;
}

.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Muli-Bold', sans-serif;
    color: white;
}


/*logo*/

/* Right block personal +social */
.personal-social {
    display: flex;
    align-items: center;
}

.header__personal {
    margin-right: 135px;
}
/* personal*/
.personal__list {
    display: flex;
}

.personal__list-item {
    margin-right: 45px;
}

.personal__list-item:last-child {
    margin-right: 0px;
}

.personal__cart-count {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    
}


/*social*/
.social__list {
    display: flex;
} 

.social__list-item {
    margin-left: 10px;
}

.social__list-item:first-child {
    margin-left: 0px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    max-width: 35px;
    background-color: white;
    text-align: center;
    line-height: 2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}




/* header content*/


.header__content {
    display: flex;
    justify-content: center;
}

/* BTN */
.header__btn {
    height: 70px;
    width: 280px;
}

.btn--green-bg {
    border: none;
    background-color:#0aa566; 
    color: white;
}


/* Smoothies */
.smoothies {
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.smoothies__title {
    text-align: center;
    padding-top: 100px;
}

.smoothies__text {
    max-width: 915px;
    align-self: center;
    line-height: 2;
    color: #1e1e1e;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 60px;
}

.smoothies__features {
    align-self: center;
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1100px;
    padding-bottom: 60px;
}

.smoothies__feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 195px;
    flex-grow: 1;
}
.smoothies__feature:nth-child(1)  {
    border-right:  2px solid #f6edde;
    border-bottom: 2px solid #f6edde; 
}
.smoothies__feature:nth-child(2)  {
    border-right:  2px solid #f6edde;
    border-bottom: 2px solid #f6edde; 
}

.smoothies__feature:nth-child(3)  {
    border-right:  2px solid #f6edde;
    border-bottom: 2px solid #f6edde; 
}
.smoothies__feature:nth-child(4)  {
    border-bottom:  2px solid #f6edde;
}
.smoothies__feature:nth-child(5)  {
    border-right:  2px solid #f6edde;
}
.smoothies__feature:nth-child(6)  {
    border-right:  2px solid #f6edde;
}
.smoothies__feature:nth-child(7)  {
    border-right:  2px solid #f6edde;
}
.smoothies__img {
    margin-bottom: 30px;
    align-self: center;
} 
.title--orange {
    color: #f2612d;
    font-size: 25px;
    text-align: center;
}



/* About */
.about {
    background-color: #11816d;
    display: flex;
    justify-content: flex-end;

}

.about__content {
    width: 50%;
    margin-left: 140px;
    display: flex;
    flex-direction: column;

}

.about__main-image {
    margin-left: 145px;
}

.about__title {
    font-size: 55px;
    color: white;
    text-align: left;
    max-width: 620px;
    line-height: 1;
    margin-bottom: 70px;
    padding-top: 90px;

}
.title--green {
    color: #cae941; 
}

.about__list {
    width: 415px;
    text-align: left;
    line-height: 2;
    font-size: 21px;
    margin-left: 20px;
    list-style-image: url(/assets/images/About-list-item-img.png);
}


.text-white--bold {
    font-family: Muli-ExtraBold;
}

.about__btn {
    width: 380px;
    height: 60px;
    background-color: transparent;
    border: 2px solid #f8b231;
    color: white;
    margin-bottom: 90px;
    margin-top: 50px;
    padding: 0 30px;
}

/* Products */

.products__item--bg-brown {
    background-color: #632b17;

}

.products__item--bg-green {
    background-color: #178670;
}

.products__item--bg-yellow {
    background-color: #f7ae3b;
}

.products__item--bg-red {
    background-color: #c3471b;
}

.products {
    display: flex;
    justify-content: flex-start;
}

.products__item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products__img {
    padding-top: 130px;
    margin-bottom: 35px;
}

.products__title {
    font-size: 24px;
    text-align: center;
}
.products__capacity {
    font-family: 'Muli-Italic';
    font-size: 21px;
    margin-bottom: 65px;
    margin-top: 5px;
    text-align: center;
}

.btn--white-border {
    margin-bottom: 80px;
}



/* Story */
.story {
    display: flex;
    justify-content: center;
}

.story__content {
    display: flex;
    flex-direction: column;
}

.story__title {
    padding-top: 260px;
}

.story__text {
    width: 480px;
    text-align: left;
    line-height: 2;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-right: 200px;
}

.btn--green {
    background-color:#0aa566 ;
    width: 300px;
    height: 60px;
    margin-bottom: 290px;
}

.story__img {
    align-self: flex-end;
    padding-top: 120px;
    padding-bottom: 160px;
}

/* Feedback */
.feedback {
    background-color: #672f1b;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.feedback__title {
    padding-top: 115px;
    margin-bottom: 120px;
}
.title--red {
    color: #f2612d;
    
}

.feedback__content {
    display: flex;    
}

.feedback__content-subject {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.feedback__text {
    max-width: 470px;
    text-align: center;
    line-height: 2;
    margin-top: 40px;
}

.feedback__subtext {
    color: #f7ae3b; 
    font-size: 18px;
    font-family: 'Muli-SemiBoldItalic';
    align-self:center;
}

.feedback__img {
    margin-left: 60px;
}

.feedback__slider {
    margin-top: 120px;
    padding-bottom: 80px;    
}

.feedback__slider--left {
    margin-right: 50px;
}
.feedback__slider--right {
    margin-left: 50px;
}


/* Blog */

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog__title {
    align-self: flex-start;
    padding-top: 100px;
    margin-bottom: 50px;
    align-self: center;
}

.blog__post {
    display: flex;
}
.post__img {
    margin-right: 60px;
}
.post__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.post__title {
    font-size: 30px;
    color: #f2612d;
    font-family: Muli-ExtraBold;
} 
.post__date {
    color: #1e1e1e; 
    font-size: 16px;
}

.post__text {
    width: 476px;
    margin-left: 45px;
    align-self: center;
    line-height: 2;
}

.post__text-link {
    color: #1e1e1e; 
    font-family: 'Muli-ExtraBoldItalic';
    font-size: 18px;
}

/* Instagram */

.instagram__link {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 200px;
    margin-bottom: 45px;
}

.title--green-link {
    color: #0aa566;
    font-size: 24px;
}
.instagram {
    display: flex;
    flex-direction: column;
    background-position:center;
    background-size:cover;
    padding-bottom: 10px;
}

.instagram__icon {
    margin-right: 10px;
}

.instagram__post {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    
}

.instagram__img {
    width: 20%;
    max-height: auto; 
}

/* Footer */
    .footer {
        display: flex;
        flex-direction: column;
    }
/* Footer-top */
.footer-top {
    background-color: #f6ab3b;
    display: flex;
    justify-content: space-around;
}

.footer-top__logo {
    padding-top: 130px;
    padding-bottom: 165px;
    padding-left: 100px;
}
.footer-top__block {
    display: flex;
    padding-top: 80px;
    

}
/*FOOTER MENU*/
.footer-top__menu {
    display: flex;
    flex-direction: column;
    margin-right: 180px;
}

.footer-top__box-title {
    margin-bottom: 34px; 
}

.footer-menu__list > .menu__item > .menu__link {
    color:#6d450c;
    font-size: 18px;
    text-transform: none;
    line-height: 2;
    
}

/*FOOTER PAYMENT*/

.footer-top__payment {
    display: flex;
    flex-direction: column;
    margin-right: 180px;
}


.footer-top__payments-icon {
    width: 280px;
    

}

.footer-top__payment-icon {
    margin-right: 20px;
    margin-bottom: 25px;
}

/*DONT MISS OUT*/

.footer-top__subscribe {
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}

.footer-top__subscribe-input {
    width: 495px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

input {
    background-image: url(/assets/images/Footer-mail-icon.png);
    background-repeat: no-repeat;
    background-position: left; 
}

.footer-top__subscribe-text {
    align-self: center;
}

.footer-top__social {
    align-self: flex-end;
}

.footer-top__social__link {
    margin-right: 25px;
}
.footer-top__social__link:last-child {
    margin-right: 0;
}

input::-webkit-input-placeholder {
    color:#6d450c;
    font-family: 'Muli-Bold';
    font-size: 17px;
    padding-left: 65px;
}

    .footer-top__subscribe-text {
        font-size: 18px;
        color: #6d450c;
}

    .footer-top__box-title {
        font-size: 26px;
        color: white; 
}



/*Footer-Bottom*/
.footer-bottom {
    background-color: #6c2c1c;
    padding: 25px 0;
    display: flex;
    justify-content: center;
}


.footer-bottom__text {
    font-size: 13px;
    color: #af8a82;
}

.footer-bottom__top {
    font-size: 16px;

}

.footer-bottom__btn {
    border: none;
    background: none;
}

.footer-bottom__img {
    background-color: #f2662f;
    border-radius: 5px;
    padding: 15px;
}



/* Здесь будут медиа запросы */





