/* Здесь подключаем шрифты, используя правило @font-face*/

/* Использумые шрифты на index.html
Muli Regular - normal normal 
Muli Bold - 700 normal
Muli ExtraBold - 800 normal
Muli ExtraBoldItalic - 800 italic
Poppins Medium - 500 normal
Poppins SemiBold - 600 normal
  */
@font-face {
    font-family: Muli-Regular; 
    src: url(../assets/fonts/Muli-Regular.woff); 
}

@font-face {
    font-family: Muli-Bold;
    src: url(../assets/fonts/Muli-Bold.woff);
}

@font-face {
    font-family: Muli-ExtraBold;
    src: url(../assets/fonts/Muli-ExtraBold.woff);
}

@font-face {
    font-family: Muli-ExtraBoldItalic;
    src: url(../assets/fonts/Muli-ExtraBoldItalic.woff);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

/* Общие стили */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Оформляем стили текстов */
.btn, h2, .title, h3 {
    font-family: "Muli-ExtraBold"; 
    color: #f7ae3b;
    font-size: 50px;
}

.title-small {
    font-family: Muli-Bold;
    font-size: 16px; 
    color: white; 

}

.text-dark {
    font-family: Muli-regular;
    font-size: 18px;
    color: #1e1e1e; 
}

.text-white {
    font-family: Muli-regular;
    font-size: 18px; 
    color: #ffffff; 
}

.btn {
    width: 200px;
    height: 60px;
    background-color: transparent;
    font-size: 21px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* Header */
header {
    background: url(/assets/images/header-bg-img.png) no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
    border: 2px solid rgb(46, 11, 175);
}
.menu__list, .personal__list, .social__list {
    list-style: none;
}


.header__top {
    border: 2px solid green;
    /* padding: 70px 100px 100px; */
    display: flex;
    justify-content: space-between;
}

.header__menu {
    border: 1px solid red;
}

.menu__list {
    
    border: 1px solid red;
}

.menu-item {
    margin-right: 35px;
}

.menu__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Muli-Bold", sans-serif;
    
}    



.header__logo {
    border: 1px solid red; 
    
}

.personal-social {
    border: 2px solid red;
    

}

.header__personal {
    border: 1px solid red; 
}

.header__social {
    border: 1px solid red; 
}


.header__btn {
    height: 70px;
    width: 280px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    font-family: 'Muli-Regular', sans-serif;
    color: white;
    background-color: #0aa566;
    border: 1px solid red; 
}

/* Smoothies */
.smoothies {
    background-color: white; 


}
.title--orange {
    color: #f2612d;
    font-size: 25px;
    
}


/* About */
.about {
    background-color: #11816d; 
    height: 100vh;
}


.about__title {
    font-size: 55px;
    color: white;

}

.title--green {
    color: #cae941; 
}

.text-white--bold {
    font-family: Muli-ExtraBold;
}

/* Products */
.products__title {
    font-size: 24px;
}
.products__capacity {
    font-family: Mili-Regular;
    font-size: 21px;
}
.products__item {
    width: 480px;
    height: 720px;
}

.products__item--bg-brown {
    background-color: #632b17;
}

.products__item--bg-green {
    background-color: #178670;
}

.products__item--bg-yellow {
    background-color: #f7ae3b;
}

.products__item--bg-red {
    background-color: #c3471b;
}

.btn {
    border: 1px solid red; 
}

/* Story */


/* Feedback */
.feedback {
    background-color: #672f1b; 
}

.title--red {
    color: #f2612d; 
}

.feedback__subtext {
    color: #f7ae3b; 
    font-size: 18px;
}

/* Blog */
.post__title {
    font-size: 30px;
    color: #f2612d;
    font-family: Muli-ExtraBold;

} 
.post__date {
    color: #1e1e1e; 
    font-size: 16px;
}

/* Instagram */
.title--green-link {
    color: #0aa566;
    font-size: 24px;
}

/* Footer */
.footer-top {
    background-color: #f6ab3b;
}
.footer-bottom {
    background-color: #6c2c1c; 
}

.footer-top__box-title {
    font-size: 26px;
    color: white; 
}



.footer-bottom__text {
    font-size: 13px;
    color: #af8a82;
}

.footer-bottom__top {
    font-size: 16px;
}

input::-webkit-input-placeholder {
    color:#6d450c; 
    }

    .footer-top__subscribe-text {
        font-size: 18px;
        color: #6d450c;
    }



/* Здесь будут медиа запросы */





