/* Здесь подключаем шрифты, используя правило @font-face*/

/* Использумые шрифты на index.html
Muli Regular - normal normal 
Muli Bold - 700 normal
Muli ExtraBold - 800 normal
Muli ExtraBoldItalic - 800 italic
Poppins Medium - 500 normal
Poppins SemiBold - 600 normal
  */
@font-face {
    font-family: Muli-Regular; 
    src: url(../assets/fonts/Muli-Regular.woff); 
}

@font-face {
    font-family: Muli-Bold;
    src: url(../assets/fonts/Muli-Bold.woff);
}

@font-face {
    font-family: Muli-ExtraBold;
    src: url(../assets/fonts/Muli-ExtraBold.woff);
}

@font-face {
    font-family: Muli-ExtraBoldItalic;
    src: url(../assets/fonts/Muli-ExtraBoldItalic.woff);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

/*И повторяем этот кусок кода изменяя имя шрифта и путь к файлу*/

* {
    margin: 0;
    padding: 0;
}

/* Общие стили */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Оформляем стили текстов */
.btn, h2, .title, h3 {
    font-family: Muli-ExtraBold; 
    color: #f7ae3b;
    font-size: 50px;
}

.title-small {
    font-family: Muli-Bold;
    font-size: 16px; 
    color: white; 

}

.text-dark {
    font-family: Muli-regular;
    font-size: 18px;
    color: #1e1e1e; 
}

.text-white {
    font-family: Muli-regular;
    font-size: 18px; 
    color: #ffffff; 
}





/* Header */
header {
    background: url(/assets/images/header-bg-img.png);
    height: 100vh;
    background-position: center;
    background-size: contain;
}

.menu__item {
    color: white;
}

/* Smoothies */
.smoothies {
    background-color: white; 

}

/* About */
.about {
    background-color: #11816d; 
    height: 100vh;
}

/* Products */
.products__item {
    width: 480px;
    height: 720px;
}

.products__item--bg-brown {
    background-color: #632b17;
}

.products__item--bg-green {
    background-color: #178670;
}

.products__item--bg-yellow {
    background-color: #f7ae3b;
}

.products__item--bg-red {
    background-color: #c3471b;
}

/* Story */


/* Feedback */
.feedback {
    background-color: #672f1b; 
}

/* Blog */


/* Instagram */


/* Footer */
.footer-top {
    background-color: #f6ab3b;
}
.footer-bottom {
    background-color: #6c2c1c; 
}



/* Здесь будут медиа запросы */





