// main: ./../main.less
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--green-bg {
        .btn-styles(70px, @colorSecondary, none);
        width: 280px;
        border-radius: 35px;
        position: relative;
        &::after {
            .btn-arrow();
            background-image: url(../assets/images/Btn-arrow-yellow.png);
        }
        &:hover {
            background-color: #28986b;
            &:after {
                right: 30px;
            }
        }
    }
    &--green {
        .btn-styles(@btnHeight, @colorSecondary, none);
        width: 300px;
        position: relative;
        &::after {
            .btn-arrow();
            background-image:url(../assets/images/Btn-arrow-yellow.png);
        }
        &:hover {
            background-color: #28986b;
            &::after {
                right: 30px;
            }
        }
    }
    &--white-border {
        .btn-styles(@btnHeight, transparent, solid 2px white); 
        width: 200px;
        margin-bottom: 80px;
        position: relative;
        &:hover {
            border: 3px solid white;
            &::after {
                right: 30px;
            } 
        }
        &::after {
            .btn-arrow();
            background-image:url(../assets/images/Btn-arrow-white.png);
        } 
    }
    &--yellow-outline {
        .btn-styles(@btnHeight, transparent, 2px solid #f8b231);
        width: 380px;
        position: relative;
        &::after {
            .btn-arrow();
            background-image:url(../assets/images/Btn-arrow-yellow.png);
        }
        &:hover {
            border: 3px solid #f7ae3b;
            &::after {
                right: 30px;
            }
        }
    }
}