// main: ./../main.less
.footer {
    display: flex;
    flex-direction: column;
    &-menu__list>.menu__item>.menu__link {
        font-size: 18px;
        color:#6d450c;
        text-transform: none;
        line-height: 2;
        &:hover {
            transform: scale(1.1);
            transition: 0.1s;
        }
    }
}
.footer-top {
    background-color: @colorMain;
    display: flex; 
    justify-content: space-between;
    padding-bottom: 90px;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    &__logo {
        align-self: center;
    }
    &__block {
        display: flex;
        padding-right: 100px;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        margin-right: 115px;
    }
    &__box-title {
        margin-bottom: 34px; 
    }
    &__payment {
        display: flex;
        flex-direction: column;
        margin-right: 115px;
    }
    &__payments-icon {
        width: 280px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__payment-icon {
        margin-right: 20px;
        margin-bottom: 25px;
    }
    &__subscribe {
        display: flex;
        flex-direction: column;
        &-input {
            height: 60px;
            width: 495px;
            border-radius: @borderRadius;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
            background-image: url(/assets/images/Footer-mail-icon.png);
            background-repeat: no-repeat;
            background-position: 5% 50%; 
            color:#6d450c;
            font-family: 'Muli-Bold';
            font-size: 17px;
            padding-left: 65px; 
        }
    }
    &__social-container {
        display: flex;
        align-items:center ;
        justify-content: flex-end;
        margin-top: 30px;
        padding-right: 50px;
    }
    &__box-title {
        font-size: 26px;
        color: white; 
    }
    &__subscribe-text {
        margin-right: 45px;
    }
    &__social {
        align-self: flex-end;
        &__link {
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__subscribe-text {
        font-size: @fontSizeText;
        color: #6d450c;
        position: relative;
        &::before {
            content: "";
            display: inline-block;
            width: 48px;
            height: 43px;
            position:absolute;
            background-image:url(../assets/images/Footer-arrow-subs.png);
            bottom: 0;
            left: -65%;
        }
    }
}






.footer-bottom {
    background-color: #6c2c1c;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__text {
        font-size: 13px;
        color: #af8a82;
    }
    &__button {
        display: flex;
        align-items: center;
        position: absolute;
        right: 100px;
    }
    &__go-top {
        font-size: 16px;
        padding-right: 15px;
    }
    &__btn {
        border: none;
        width: 50px;
        height: 50px;
        background-color: #f2662f;
        border-radius: 5px;
        position: relative;
        bottom: 35px;
        &::after {
            content: "";
            background-image: url(../../assets/images/Footer-arrow-top.png);
            width: 13px;
            height: 25px;
            display: inline-block;
        }
        &:hover {
            position: relative;
            bottom: 50px;
        }
        
    }
}















